POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=waspada
POSTGRES_HOST=database
POSTGRES_PORT=5432

RUN_ONCE=0
REQUEST_TIMEOUT_SECONDS=30
FETCH_RETRIES=3
FETCH_BACKOFF_BASE=1.5
USER_AGENT=waspada-rss-bot/1.0

SENTIMENT_MODEL_NAME=MoritzLaurer/mDeBERTa-v3-base-mnli-xnli
SENTIMENT_MIN_CONFIDENCE=0.4
SENTIMENT_MAX_CONCURRENCY=2
SENTIMENT_BATCH_SIZE=16
URL_CACHE_MAXLEN=500
